<div class="mx-auto rounded bg-light p-2 text-center h3 border border-secondary" style="max-width: 500px;">
  Streak:
  <small>
    {{ data.streak }}
  </small>
  <div>
    <a class="btn btn-primary mt-2" routerLink="/workout">Start today's workout</a>
  </div>
</div>
<hr />
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Duration (in seconds)</th>
        <th>Delete / Move</th>
      </tr>
    </thead>
    <tbody id="exercises-table">
      <tr *ngFor="let item of data.exercises; let i = index" class="inputs">
        <td>
          <input type="text" class="form-control" placeholder="Exercise name" [(ngModel)]="item.name">
        </td>
        <td>
          <input type="number" class="form-control" placeholder="Duration" [(ngModel)]="item.duration">
        </td>
        <td>
          <button class="btn btn-danger that-button" (click)="data.deleteExercise(i)">
            Delete
          </button>
          <div style="display: inline-block;" class="that-button">
            <button class="btn btn-secondary" ngClass="updown" [disabled]="i == 0" (click)="data.moveUp(i)"
              aria-label="Move up">
              <i class="fa fa-caret-up"></i>
            </button>
            <button class="btn btn-secondary" ngClass="updown" [disabled]="i == data.exercises.length - 1"
              aria-label="Move down" (click)="data.moveDown(i)">
              <i class="fa fa-caret-down"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn btn-success add-excercise" (click)="data.addBlankExercise()">
    Add exercise
  </div>

  <hr>
  <div class="loginform">
    <span *ngIf="auth.user$ | async as user; else login">
      <button class="btn btn-primary" (click)="auth.uploadData()">Save to database</button>
      <button class="btn btn-secondary" (click)="auth.downloadData()">Load from database</button>
      <button class="btn btn-danger" (click)="auth.signOut()">Sign Out</button>
    </span>

    <ng-template #login>
      <button class="btn btn-primary" (click)="auth.googleSignin()">Login with Google</button>
    </ng-template>
  </div>
</div>