<h1>Workout</h1>
<hr />
<div class="mx-auto rounded bg-light p-2 text-center h3 border border-secondary" style="max-width: 500px;">
	Streak:
	<small>
		{{ data.streak }}
	</small>
	<div>
		<a class="btn btn-primary mt-2" routerLink="/workout">Start today's workout</a>
	</div>
</div>
<hr />
<div>
	<table class="table">
		<thead>
			<tr>
				<th>Exercise</th>
				<th>Duration (in seconds)</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody id="exercises-table">
			<tr *ngFor="let item of data.exercises; let i = index">
				<td>
					<input type="text" class="form-control" placeholder="Exercise name" [(ngModel)]="item.name">
				</td>
				<td>
					<input type="number" class="form-control" placeholder="Duration" [(ngModel)]="item.duration">
				</td>
				<td>
					<button class="btn btn-danger" (click)="data.exercises.length > 1 ? data.exercises.splice(i, 1) : data.reset()">
						Delete
					</button>
					<div style="display: inline-block;">
						<button class="btn btn-secondary" ngClass="updown" [disabled]="i == 0" (click)="data.moveUp(i)">
							<i class="fa fa-caret-up"></i>
						</button>
						<button class="btn btn-secondary" ngClass="updown" [disabled]="i == data.exercises.length - 1"
							(click)="data.moveDown(i)">
							<i class="fa fa-caret-down"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="btn btn-success" style="margin-left: 8px" (click)="data.exercises.push({name: 'Exercise', duration: 30})">
		Add another exercise
	</div>
</div>